.nav_bar {
  width: 100%;
  background: grey;
  display: flex;
  list-style: none;
  padding: 15px 25px;
  margin: 0;
}

.nav_bar li {
  margin-right: 15px;
}

.nav_bar .active {
  color: red;
}

.footer {
  margin-top: 200px;
}

